.App {
  text-align: center;
}

.App-header {
  background-color: #FDCF33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.fruitContainer {
  position: relative;
  width: 300px;
  height: 300px;
}
